*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;


}
main{
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background-color: black;
}